<head>
    <link rel="stylesheet" href="/styles.css">
    <title>code room</title>
</head>

<body>
    <div class="header">
        <div class="id h-box"></div>
        <div class="h-spacer"></div>
        <div class="name h-box"></div>
    </div>
    <main>
        <div class="wrapper higher">
            <div class="naming box">
                <h3>Code Room</h3>
                <input type="text" id="name" placeholder="Name">
                <button class="button" id="submit">Continue</button>
            </div>

            <div class="reconnect" hidden>
                Reconnect to previous room
            </div>
        </div>
        <div class="wrapper higher">
            <div class="room box-flat">
                <input type="text" class="narrow" id="id" maxlength="6" placeholder="Room ID">
                <button class="button" id="join">Join</button>
                <div class="divider">or</div>
                <button class="button" id="create">Create a room</button>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <!-- Actual main app here... -->
                <div class="horizontal-flex">
                    <div id="code">
                        <div id="inner-code"></div>
                    </div>
                    <div class="right-side">
                        <div id="canvas-wrapper">
                            <span id="canvas-title">click for info</span>
                            <span class="popup-parent">
                                <div id="canvas-help">
                                    <div>
                                        <div class="canvas-help-close close-canvas-help">×</div>
                                        This css canvas's <br><strong>CanvasRenderingContext2D</strong>
                                        <br>is accessed as <span class="code-snippet">ctx</span><br><br>
                                        For example: <br>
                                        <span class="code-snippet">ctx.fillRect(10,10,20,20);</span><br><br>
                                        Image drawing has been changed:<br>
                                        <span class="code-snippet">ctx.drawImage(url, x, y, width?, height?);</span>
                                    </div>
                                </div>
                            </span>
                            <canvas id="canvas" class="close-canvas-help"></canvas>
                        </div>
                        <div id="console">
                            <div id="inner-console"></div>
                        </div>
                        <div class="teacher-code-window hidden">
                            <div class="other-code-area">
                                <div class="other-code-label">teacher's code</div>
                                <div class="other-code"></div>
                            </div>
                            <div class="other-canvas">
                                <canvas class="other-canvas-obj"></canvas>
                            </div>
                            <div class="other-console"></div>
                        </div>
                        <div class="teacher-code-toggle">
                            click to show teacher's code, canvas and console
                        </div>
                    </div>
                </div>
                <div class="student-area">
                    <div class="student-area-sizer">
                        <div class="no-students"> students will appear here once they join </div>
                    </div>
                </div>
            </div>
    </main>

    <div class="student" hidden>
        <div class="student-box">
            <div class="student-title">
                <div class="student-name"></div>
                <div class="student-edited"></div>
            </div>
            <div class="student-code"></div>
            <div class="student-canvas">
                <canvas></canvas>
            </div>
            <div class="student-console"></div>
            <div class="student-bottom"></div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/lib/theme.css">
    <script src="/lib/javascript.js"></script>
    <script src="/index.js"></script>
</body>